<br-expansion-card>

  <br-card-collapsed>
    <div class="orgcard-title">Organizations List</div>
    <div class="orgcard-hint">Click to open</div>
  </br-card-collapsed>





  <br-card-expanded>
    <br-subheader br-no-style>
      <div class="card-header">
        <h2>Organizations</h2>
      </div>
    </br-subheader>


    <br-card-content>
      <div layout="row" class="filter-bar">
        <br-icon br-font-icon="search" style="line-height: 53px; padding-left: 12px; "></br-icon>
        <input flex type="search" br-no-style ng-model="vm.orgFilter" placeholder="Search..." />

        <br-button class="br-accent br-raised" ng-click="vm.createOrganization();" ng-disabled="vm.loaded === false"><br-icon br-font-icon="add"></br-icon>Organization</br-button>
      </div>


      <br-list>
        <br-item ng-repeat="org in vm.organizations">
          <br-item-content class="br-fill">
            <div layout="row" layout-align="start center">
              <div class="br-item-title">{{org.name}}</div>
              <div flex></div>
              <br-button class="br-primary" ng-click="vm.editOrg(org.id)"><br-icon br-font-icon="edit"></br-icon>Edit</br-button>
            </div>
          </br-item-content>
        </br-item>
      </br-list>
    </br-card-content>
  </br-card-expanded>



</br-expansion-card>
