<br-expansion-card>

  <br-card-collapsed>
    <div class="orgcard-title">{{vm.modifier.name}}</div>
    <div layout="row">
      <div class="orgcard-hint larg">modifier</div>
    </div>
  </br-card-collapsed>



  <br-card-expanded>
    <br-subheader br-no-style>
      <div class="card-header">
        <div>
          <h2>Modifier - {{vm.modifier.name}}</h2>
          <div class="sub-h2">Edit</div>
        </div>
        <div flex></div>

        <div ng-if="vm.edited" layout="row">
          <br-button class="br-warn br-raised" ng-click="vm.cancel()">Cancel Changes</br-button>
          <br-button class="br-accent br-raised" ng-click="vm.save()" ng-disabled="form.$invalid">Save</br-button>
        </div>

        <div ng-if="!vm.edited && $card.topCard === false" layout="row">
          <br-button class="br-primary" ng-click="vm.cancel()">Done<br-icon br-font-icon="close"></br-icon></br-button>
        </div>
      </div>
    </br-subheader>


    <br-card-content>
      <form name="form">
        <div layout="row" layout-wrap>
          <br-input flex class="br-fill">
            <label>Name</label>
            <input name="name" ng-model="vm.modifier.name" placeholder="Enter Name" required />
            <div ng-messages="form.name.$error">
              <div ng-message="required">Name Required</div>
            </div>
          </br-input>
        </div>
      </form>


      <h4>Modifier Options</h4>

      <div layout="row" class="filter-bar">
        <br-icon br-font-icon="search" style="line-height: 53px; padding-left: 12px; "></br-icon>
        <input flex type="search" br-no-style ng-model="vm.filter" placeholder="Search..." />

        <br-button class="br-accent br-raised" ng-click="vm.createOption();" ng-disabled="vm.loaded === false"><br-icon br-font-icon="add"></br-icon>Modifier Option</br-button>
      </div>


      <br-list>
        <br-item ng-repeat="modifierOption in vm.modifier.modifierOptions | filter:vm.filter">
          <br-item-content class="br-fill">
            <div layout="row" layout-align="start center">
              <div>
                <div flex class="br-item-title">{{modifierOption.name}}</div>
                <div layout="row" layout-fill class="br-item-info">
                  <div flex><b>Price</b> {{modifierOption.price | currency}}</div>
                </div>
              </div>
              <div flex></div>
              <br-button class="br-primary" ng-click="vm.editOption(modifierOption.id)"><br-icon br-font-icon="edit"></br-icon>Edit</br-button>
            </div>
          </br-item-content>
        </br-item>
      </br-list>

    </br-card-content>
  </br-card-expanded>

</br-expansion-card>
