<br-expansion-card>

  <br-card-collapsed>
    <div class="orgcard-title">{{vm.category.name}}</div>
    <div layout="row">
      <div class="orgcard-hint large">category</div>
    </div>
  </br-card-collapsed>



  <br-card-expanded>
    <br-subheader br-no-style>
      <div class="card-header">
        <div>
          <h2>Category - {{vm.category.name}}</h2>
          <div class="sub-h2">Edit</div>
        </div>
        <div flex></div>

        <div ng-if="vm.edited" layout="row">
          <br-button class="br-warn br-raised" ng-click="vm.cancel()">Cancel Changes</br-button>
          <br-button class="br-accent br-raised" ng-click="vm.save()" ng-disabled="form.$invalid">Save</br-button>
        </div>

        <div ng-if="!vm.edited && $card.topCard === false" layout="row">
          <br-button class="br-primary" ng-click="vm.cancel()">Done<br-icon br-font-icon="close"></br-icon></br-button>
        </div>
      </div>
    </br-subheader>


    <br-card-content>
      <form name="form">
        <div layout="row" layout-wrap>
          <br-input flex class="br-fill">
            <label>Name</label>
            <input name="name" ng-model="vm.category.name" placeholder="Enter Name" required />
            <div ng-messages="form.name.$error">
              <div ng-message="required">Name Required</div>
            </div>
          </br-input>

          <br-select flex>
            <label>Type</label>
            <br-select-menu name="type" ng-model="vm.category.type" placeholder="Select Type" required>
              <br-option ng-value="type" ng-repeat="type in vm.types">{{type}}</br-option>
            </br-select-menu>
          </br-select>
        </div>
      </form>
    </br-card-content>
  </br-card-expanded>

</br-expansion-card>
